/8s5Ogl.txt
/AdministrareDTI.exe - Ярлык.lnk
/balenaEtcher.lnk
/Cisco Packet Tracer.lnk
/DC-Unlocker client.lnk
/desktop.ini
/Discord.lnk
/Europa Universalis IV.lnk
/IS31FR Scripnic A
/IS31FR_Andrei_Scripnic
/Lista imprimantelor.xlsx
/R-Studio.lnk
/Radmin Viewer 3.lnk
/Raport AP USARB
/Remote Desktop Connection.lnk
/rufus-3.8.exe
/Scratch 3.lnk
/Total Commander.lnk
/Untitled-1.py
/winbox.exe
/x.exe - Ярлык.lnk
/~$кумент Microsoft Office Word.docx
/~$кумент Microsoft Word.docx
/Новая папка